@import "../../../assets/sass/imports/main/variables";
@import "../../../assets/sass/imports/main/mixins";
@import "../../../assets/sass/imports/main/extendsStart";
@import "../../../assets/sass/imports/personal/personalGeneral";

.success_page{
    max-width: 608px;
    margin: 0 auto;
    background: $white;
    box-shadow: 0px 8px 44px rgba($siteColor, 0.04), 0px 2px 14px rgba($siteColor, 0.03);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 38px 64px;
    .main_icon{
        display: block;
        width: 70px;
        height: 70px;
        min-width: 70px;
        font-size: 240%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 5px solid $successColor;
        color: $successColor;
        border-radius: 16px;
        margin-bottom: 21px;
    }
    .success_title{
        font-size: 240%;
        line-height: 1.25em;
        text-align: center;
        color: $successColor;
        font-family: $bold;
        padding-bottom: 22px;
    }
    .success_description{
        font-size: 140%;
        line-height: 1.25em;
        text-align: center;
        color: $gray4D;
        padding-bottom: 24px;
    }
    .back_home{
        display: inline-block;
        background: rgba($siteColor, 0.1);
        border-radius: 8px;
        font-size: 1.25em;
        line-height: 18px;
        text-align: center;
        padding: 13px 24px;
        @include lightButtonHover();
    }
    @include mediaTo($size1200){
        padding: 60px 35px;
    }
    @include mediaTo($size960){
        padding: 50px 30px;
        max-width: 100%;
        .success_title{
            font-size: 200%;
        }
    }
    @include mediaTo($size768){
        padding: 50px 30px;
        max-width: 100%;
        .success_title{
            font-size: 240%;
        }
    }
    @include mediaTo($size525){
        padding: 50px 30px;
        max-width: 100%;
        .main_icon{
            margin-bottom: 18px;
        }
        .success_title{
            font-size: 200%;
            padding-bottom: 18px;
        }
        .success_description{
            padding-bottom: 18px;
        }
    }
    @include mediaTo($size480){
        padding: 40px 30px;
        .main_icon {
            width: 60px;
            height: 60px;
            min-width: 60px;
            font-size: 200%;
        }
    }
    @include mediaTo($size400){
        padding: 40px 20px;
        .success_title{
            font-size: 180%;
        }
    }
}

@import "../../../assets/sass/imports/main/extendsEnd";
