.layout--full-page {
    .content {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            left: 0;
            height: 50%;
            top: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            background-image: url("~@/assets/images/login.svg");
        }
    }

    @include mediaTo($size960) {
        .time_code {
            padding-bottom: 60px;
        }
    }
    @include mediaTo($size576) {
        .time_code {
            padding-bottom: 40px;
        }
    }
    @include mediaTo($size400) {
        .time_code {
            padding-bottom: 30px;
            font-size: 130%;
        }
    }
    .login_page {
        padding: 116px 0 40px;
        &.reset_password {
            .field_block {
                padding-top: 20px;
            }
            .login_form .check_input {
                top: 56px;
            }
        }
        &.login_main {
            .checkbox_list {
                margin-bottom: auto;
            }
        }
        &.reset_pass2 {
            .time_code {
                margin-bottom: auto;
                display: flex;
                justify-content: flex-end;
                font-size: 140%;
                line-height: 1.25em;
                text-align: center;
                text-decoration-line: underline;
                color: $gray4D;
                padding-top: 24px;
            }
        }
        &.reset_pass3 {
            .login_form {
                button {
                    margin-top: auto;
                }
                form {
                    padding-top: 12px;
                }
            }
        }
        &.registration4 {
            .form_description {
                padding-top: 8px;
            }
            .login_block {
                padding: 40px;
            }
            .login_form {
                button {
                    margin-top: auto;
                }
                form {
                    padding-top: 12px;
                }
            }
        }
    }
    .login_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 32px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: -40px;
            right: -40px;
            height: 1px;
            background: $footerBorder;
        }
    }
    .login_form {
        padding-top: 32px;
        flex: 1;
        display: flex;
        flex-direction: column;
        .form_title {
            font-family: $bold;
            font-size: 240%;
            line-height: 1.25em;
            color: $gray4D;
        }
        form {
            padding-top: 20px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .field_block {
            padding-top: 28px;
        }
        .field_title {
            font-size: 140%;
            line-height: 1.25em;
            color: $gray4D;
            padding-bottom: 8px;
        }
        .forget_pass {
            padding-top: 12px;
            display: flex;
            justify-content: flex-end;
            a {
                display: block;
                font-size: 120%;
                line-height: 1.25em;
                margin-left: auto;
                color: $gray4D;
                @include siteColorAlfaHover();
            }
        }
        input {
            border: 1px solid $footerBorder;
            box-sizing: border-box;
            border-radius: 8px;
            font-size: 140%;
            line-height: 18px;
            color: $gray99;
            background: transparent;
            padding: 12px 36px 12px 16px;
        }
        button {
            border-radius: 8px;
            background: $siteColor;
            color: $white;
            border: none;
            font-size: 160%;
            line-height: 19px;
            text-align: center;
            padding: 18px;
            margin-top: 28px;
            width: 100%;
            @include buttonHover();
        }
        .info_block {
            font-size: 120%;
            line-height: 1.25em;
            color: $gray99;
            padding-top: 8px;
            margin-bottom: auto;
        }
        .field_row {
            display: flex;
            margin: 0 -8px;
            padding-top: 20px;
            .field_block {
                padding: 0 8px;
                flex: 0 0 25%;
                max-width: 25%;
            }
            input {
                height: 68px;
                width: 100%;
                padding: 20px;
                font-size: 200%;
                line-height: 26px;
                text-align: center;
                color: $gray4D;
            }
        }
        .title_row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: unset;
        }
    }
    .steps_block {
        padding-left: 10px;
        white-space: nowrap;
        ul {
            list-style-type: none;
            padding: 8px 0 0;
            margin: 0 -3px;
            display: flex;
        }
        li {
            padding: 0 3px;
            > span {
                display: block;
                background: rgba($siteColor, 0.1);
                border-radius: 10px;
                height: 4px;
                width: 24px;
                &.selected {
                    background: $siteColor;
                }
            }
        }
    }
    .step_number {
        font-size: 140%;
        line-height: 1.25em;
        text-align: right;
        color: $siteColor;
        span {
            display: inline-block;
            color: $gray66;
        }
    }
    .checkbox_list {
        @extend %standardList;
        display: flex;
        li {
            padding-top: 24px;
        }
        input {
            @extend %maskedInput;
            &:checked {
                + .checkbox_button {
                    &:before {
                        background: $siteColor;
                        font-size: 66.7%;
                    }
                }
            }
        }
        .checkbox_button {
            display: flex;
            align-items: center;
            color: $gray4D;
            font-size: 120%;
            line-height: 1.25em;
            cursor: pointer;
            @include opacityHover();
            &:before {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                min-width: 20px;
                height: 20px;
                margin-right: 8px;
                border-radius: 4px;
                border: 1px solid $gray99;
                color: $white;
                font-size: 0;
            }
        }
    }
    .iti {
        width: 100%;
    }
    .iti--separate-dial-code .iti__selected-dial-code {
        font-size: 140%;
        color: $gray99;
        margin-left: 8px;
    }
    .iti__selected-flag {
        padding: 0 15px !important;
    }
    .iti--separate-dial-code .iti__selected-flag {
        background-color: transparent !important;
    }
    .bottom_block {
        margin-top: 24px;
        padding-top: 24px;
        position: relative;
        display: flex;
        justify-content: center;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -40px;
            right: -40px;
            height: 1px;
            background: $footerBorder;
        }
        a {
            display: inline-block;
            font-size: 140%;
            line-height: 1.25em;
            text-align: center;
            text-decoration-line: underline;
            color: $siteColor;
            @include siteColorAlfaHover();
        }
    }
    .login_logo {
        img {
            max-width: 127px;
        }
    }
    .login_lg {
        display: flex;
        align-items: center;
        a {
            display: block;
            font-size: 120%;
            line-height: 1.25em;
            color: $gray66;
            margin-left: 12px;
            &.selected {
                color: $siteColor;
            }
        }
    }
    .login_inner {
        max-width: 450px;
        margin: 0 auto;
    }
    .login_block {
        width: 100%;
        background: $white;
        border: 1px solid $footerBorder;
        box-sizing: border-box;
        box-shadow: 0px 2px 14px rgba($siteColor, 0.03);
        border-radius: 16px;
        padding: 40px 40px 32px;
        min-height: 640px;
        display: flex;
        flex-direction: column;
    }
    .app_row {
        display: flex;
        padding-top: 55px;
        justify-content: center;
        a {
            display: block;
            &.google_play {
                margin-left: 20px;
            }
        }
    }
    .form_description {
        font-size: 140%;
        line-height: 1.25em;
        color: $gray4D;
        padding-top: 24px;
    }
    .telephone_block {
        padding-right: 36px !important;
    }
    .welcome_block {
        font-size: 140%;
        line-height: 1.25em;
        color: $gray4D;
        padding-top: 24px;
        span {
            display: inline-block;
            font-family: $bold;
        }
    }
    @include mediaTo($size1200) {
        .login_page {
            padding: 100px 0 40px;
        }
    }
    @include mediaTo($size960) {
        .login_page {
            padding: 80px 0 40px;
        }
    }
    @include mediaTo($size576) {
        .login_block {
            min-height: auto;
        }
    }
    @include mediaTo($size480) {
        .login_page {
            padding: 60px 0 30px;
            &.registration4 .login_block {
                padding: 30px 20px;
            }
        }
        .login_inner {
            max-width: 100%;
        }
        .login_block {
            padding: 30px 20px;
        }
        .login_form {
            padding-top: 25px;
            .form_title {
                font-size: 200%;
            }
            form {
                padding-top: 0;
            }
            button {
                margin-top: 24px;
            }
        }
        .login_top {
            padding-bottom: 25px;
        }
        .checkbox_list li {
            padding-top: 20px;
        }
        .bottom_block,
        .login_top {
            &:before {
                left: -20px;
                right: -20px;
            }
        }
        .app_row {
            padding-top: 40px;
        }
    }
    @include mediaTo($size400) {
        .form_description {
            padding-top: 16px;
        }
        .login_page {
            padding: 40px 0 25px;
            &.reset_pass2 .time_code {
                padding-top: 16px;
            }
            &.registration4 .login_block {
                padding: 24px 12px;
            }
        }
        .login_block {
            padding: 24px 12px;
        }
        .login_form {
            padding-top: 20px;
            .form_title {
                font-size: 180%;
            }
            button {
                margin-top: 20px;
                padding: 14px;
                font-size: 140%;
                line-height: 18px;
            }
            input {
                font-size: 130%;
                line-height: 16px;
            }
            .field_block {
                padding: 20px 0 0;
            }
            .field_row {
                flex-wrap: wrap;
                .field_block {
                    padding: 16px 8px 0;
                    max-width: 50%;
                    flex: 0 0 50%;
                }
            }
        }
        .login_top {
            padding-bottom: 20px;
        }
        .checkbox_list li {
            padding-top: 16px;
        }
        .bottom_block,
        .login_top {
            &:before {
                left: -12px;
                right: -12px;
            }
        }
        .app_row {
            padding-top: 30px;
        }
    }
}
